<div class="mb-80">
  <h3 class="in-gold-500 mb-25">Reviews (3)</h3>
  <div class="general-message-wrap divider-lg">
    <div class="clearfix">
      <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg" class="img-circle logo-size inlide-block pull-left" />
      <div class="ml-70">
        <div>
          <div class="general-message-date hidden-xs">11/11/16</div>
          <div class="max-240">
            <div class="general-message-verified">Verified Reviewer</div>
            <div class="general-message-name">Rita J. Lewis</div>
          </div>
        </div>
        <div class="mb-15">
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i></div>
        <p>Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.</p>
      </div>
    </div>
  </div>
  <div class="general-message-wrap divider-lg">
    <div class="clearfix">
      <span class="img-circle logo-size inlide-block pull-left logo-empty">M</span>
      <div class="ml-70">
        <div>
          <div class="general-message-date hidden-xs">11/11/16</div>
          <div class="max-240">
            <div class="general-message-verified pull-right">Verified Reviewer</div>
            <div class="general-message-name">May J. Novoa</div>
          </div>
        </div>
        <div class="mb-15">
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star"></i>
          <i class="fa fa-star rate-star rate-empty"></i></div>
        <p>If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some
          inspiration when developing education activities for learners or assessment.</p>
      </div>
    </div>
  </div>
</div>
