<div class="mb-80">
  <h3>Write a Review</h3>
  <p class="general-info-text">Score</p>
  <div class="mb-15">
    <i class="fa fa-star rate-empty"></i>
    <i class="fa fa-star rate-empty"></i>
    <i class="fa fa-star rate-empty"></i>
    <i class="fa fa-star rate-empty"></i>
    <i class="fa fa-star rate-empty"></i>
  </div>
  <form class="row">
    <div class="col-md-8">
      <div class="mb-40">
        <div class="form-group">
          <label for="title" class="control-label input-label in-grey-600">Title</label>
          <input id="title" name="title" type="text" class="form-control" /></div>
        <div class="form-group">
          <label for="review" class="control-label input-label in-grey-600">Review</label>
          <textarea id="review" name="review" type="text" class="form-control"></textarea></div>
      </div>
      <div class="text-right">
        <button class="btn disabled mb-20">Post</button></div>
    </div>
  </form>
</div>
